@tailwind base;
@tailwind components;
@tailwind utilities;
input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none !important;
}
input[type="search"]:focus {
  outline: none !important;
  box-shadow: none !important;
}
