# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

secrets/

# Environment variables
!.env.example
!.env.*.example
!.env.staging
!.env.production
.env.keys
.env

# MacOS
.DS_Store

# Editor directories and files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Build directories
dist/
build/

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Coverage directory used by tools like istanbul
coverage/

# TypeScript cache
*.tsbuildinfo

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env.local
.env.development.local
.env.test.local
.env.production.local

# CloudFront keys
config/keys/
