builder:
  args:
    NODE_ENV: production

servers:
  web:
    - api.production.dinverapp.com

proxy:
  ssl: true
  host: api.production.dinverapp.com
  app_port: 3000

env:
  secret:
    - DOTENV_PRIVATE_KEY_PRODUCTION

accessories:
  db:
    image: ghcr.io/pellepelster/solidblocks-rds-postgresql:17-v0.4.11-rc3
    host: api.production.dinverapp.com
    directories:
      - /root/.solidblocks-rds/backup:/storage/backup
      - /root/.solidblocks-rds/data:/storage/data
    env:
      clear:
        DB_INSTANCE_NAME: dinver-backend-db
        DB_USERNAME_db1: app
        DB_DATABASE_db1: app_db
        DB_INIT_SQL_db1: /init_dump.sql
        DB_BACKUP_FULL_SCHEDULE: "0 2 * * *"
        DB_BACKUP_DIFF_SCHEDULE: "0 * * * *"
        DB_BACKUP_S3: true
        DB_BACKUP_S3_BUCKET: production-dinver-db-backups
        DB_BACKUP_S3_RETENTION_FULL_TYPE: time
        DB_BACKUP_S3_RETENTION_FULL: 70
      secret:
        - DB_BACKUP_S3_ACCESS_KEY
        - DB_BACKUP_S3_SECRET_KEY
        - POSTGRES_PASSWORD
        - DB_PASSWORD_db1
    files:
      - config/production.sql:/init_dump.sql
    directories:
      - /root/.solidblocks-rds/backup:/storage/backup
      - /root/.solidblocks-rds/data:/storage/data
  redis:
    image: valkey/valkey:8
    host: api.production.dinverapp.com
    directories:
      - data:/data
  dozzle:
    image: amir20/dozzle:latest
    host: api.production.dinverapp.com
    proxy:
      ssl: true
      host: logs.production.dinverapp.com
      app_port: 8080
      healthcheck:
        path: "/"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /dozzle/data:/data
    env:
      clear:
        DOZZLE_AUTH_PROVIDER: simple
